# local env files
.env

# dependencies
/node_modules

# production
/build

# next.js
/.next
/out

# vercel
.vercel

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# typescript
*.tsbuildinfo
next-env.d.ts

text.txt
